body{
    margin: 0;
    background: #000;
}

canvas {
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
  user-select: none;
}

#p5-canvas-container {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

#button1,
#button2,
#button3,
#button4{
  width:90px;
  height:60px;
  font-size: 25px;

}

